@page
@model XmlConverter.Web.Pages.IndexModel

@if (!string.IsNullOrWhiteSpace(Model.Error))
{
    <div style="color: red; margin-top: 8px;">
        @Model.Error
    </div>
}

<form method="post" enctype="multipart/form-data">
    <span>Select File:</span>
    <input type="file" name="postedFile" />
    <input type="submit" value="Upload" asp-page-handler="Upload" />
</form>
